<h2>Search Books</h2>
<form action ="/books" method="GET">
<div>
    <label>Title</label>
    <input type="text", name="title" value="<%= searchOptions.title %>">

</div>
<div>
    <label>Published after</label>
    <input type="date", name="publishedAfter" value="<%= searchOptions.publisedAfter %>">

</div>
<div>
    <label>Published before</label>
    <input type="date", name="publishedBefore" value="<%= searchOptions.publisedBefore %>">

</div>
<div>    <button type="submit">Search</button></div>
</form>
<br>
<div>
    <% books.forEach(book => { %>
        <img src="<%= book.coverImagePath %>" heigth="150" width="150" alt="">
    <% }) %>
</div>